<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo das Dimensões do Terreno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <a href="./principal">Principal</a>

    <table>
        <tr>
            <th colspan="2">Cálculo realizado com sucesso!</th>
        </tr>
        <tr>
            <th>Parâmetro</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Largura</td>
            <td>{{largura}} m</td>
        </tr>
        <tr>
            <td>Comprimento</td>
            <td>{{comprimento}} m</td>
        </tr>
        <tr>
            <td>Área</td>
            <td>{{area}} m²</td>
        </tr>
        <tr>
            <td>Perímetro</td>
            <td>{{perimetro}} m</td>
        </tr>
    </table>


</body>

</html>