<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculo IMC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <div class="container">

    <p>Calcular IMC</p>

    <form action="/calcularIMC" method="POST">
      <label for="titulo">Nome:</label>
      <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required>

      <label for="autor">Idade:</label>
      <input type="number" name="idade" id="idade" placeholder="Digite a sua idade" required>

      <label for="peso">Peso:</label>
      <input type="number" name="peso" id="peso" placeholder="Digite o seu peso" required>

      <label for="altura">Altura:</label>
      <input type="text" name="altura" id="altura" placeholder="Digite a sua altura" required>

      <input type="submit" value="Calcular">
    </form>

  </div>

</body>

</html>