<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Validador de CPF</title>
</head>
<body>
    <h1>Validador de CPFs</h1>

    <form method="POST" action="\validar">
        <label for="cpf">Digite o CPF:</label>
        <input type="text" name="cpf" required>
        <input type="submit" value="Validar">
    </form>

    {% if resultado %}
        <p><strong>{{ resultado }}</strong></p>
    {% endif %}

    <h2>CPFs validados:</h2>
    <ul>
        {% for cpf in lista_cpfs %}
            <li>{{ cpf }}</li>
        {% endfor %}
    </ul>
</body>
</html>