<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcular métricas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css') }}">
</head>

<body>
    <div class="container">
    <h1>🎯 Jogo da Adivinhação</h1>
    <p>Você consegue adivinhar o número secreto?</p>
    <form action="/nova_partida" method="GET">
      <input type="submit" value="Começar Partida">
    </form>
  </div>
</body>

</html>