<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="container">
        <a href="./principal">Principal</a>

        {% if alunos %}
        <p>Cadastro com Sucesso!</p>
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.get_nome() }}</td>
                <td>{{ aluno.get_email() }}</td>
                <td>{{ aluno.get_telefone() }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

</body>

</html>